Repository Itsavirus-com/NGBlu: changes, and which lefthook commands are due for each by the changed paths.
All: 1-formatting, 2-linting

1-formatting:
  run: yarn prettier --write {staged_files} && git add {staged_files}

2-linting:
  run: yarn eslint --fix {staged_files} && git add {staged_files}

feat(AddressForm): add required prop to streetname input and enhance form control styles
  src/app/[locale]/dashboard/(data-management)/addresses/_components/AddressForm.tsx
  src/components/forms/controlled-input/ControlledInput.style.scss
Due: 1-formatting, 2-linting

chore(package-lock): update ESLint and related dependencies to latest versions
  package-lock.json
Due: 1-formatting

feat(auth): update user data structure to use firstname and lastname, and construct full name for session
  src/lib/auth.ts
Due: 1-formatting, 2-linting

feat(profile-completion): implement profile completion steps with validation and file upload
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/BusinessPartnerSteps.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/ProfileCompletion.style.scss
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/steps/ContactDetailsStep.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/steps/GeneralInfoStep.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/steps/LogoUploadStep.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_hooks/profile-completion.hook.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/_schemas/profile-completion.schema.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/_types/profile-completion.type.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/page.tsx
  src/assets/sass/core/components/_utilities.scss
  src/assets/sass/core/components/forms/_form-check.scss
  src/components/button/button.tsx
  src/components/file-upload/FileUpload.tsx
  src/components/forms/controlled-switch/ControlledSwitch.tsx
  src/components/page/page.type.ts
  src/components/sidebar/sidebar-menu/SidebarMenuMain.tsx
  src/components/stepper/Stepper.tsx
  src/components/stepper/index.ts
Due: 1-formatting, 2-linting

refactor(auth): remove debug console logs from getAccessToken and related functions for cleaner code
  src/lib/auth.ts
Due: 1-formatting, 2-linting

feat(PaymentForm): add isUpdate prop to disable options during payment updates
  src/app/[locale]/dashboard/(data-management)/payments/[id]/edit/page.tsx
  src/app/[locale]/dashboard/(data-management)/payments/_components/PaymentForm.tsx
Due: 1-formatting, 2-linting

feat(localization): add text translations for English and Dutch
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/(data-validation)/data-hierarchy/page.tsx
  src/components/button/button.tsx
  src/components/confirmation-modal/ConfirmationModal.tsx
  src/components/google-map/GoogleAddressAutocomplete.tsx
Due: 1-formatting, 2-linting

feat(localization): improvements across the localization files.
  locales/en.json
  locales/nl.json
Due: 1-formatting

feat(create-business-partner): Integration API & enhance forms
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/BusinessProfileForm.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/BusinessSettingsForm.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/CompanyNameSelector.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/CreateBusinessPartnerForm.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/ProductConfigurationForm.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/ReviewForm.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/business-partner-form.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/business-partner.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/business-profile-form.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/business-settings-form.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/create-business-partner.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/product-configuration-form.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/review-form.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_schemas/business-partner.schema.ts
  src/components/forms/controlled-switch/ControlledSwitch.tsx
  src/components/google-map/GoogleMap.tsx
  src/services/api/api-core.ts
  src/services/api/api-core.type.ts
  src/services/api/business-partner-api.ts
  src/services/swr/models/kvk.type.ts
  src/services/swr/models/partner-manager.type.ts
  src/services/swr/models/product-category.type.ts
  src/services/swr/use-kvk.ts
  src/services/swr/use-product-category.ts
Due: 1-formatting, 2-linting

refactor(create-business-partner): improve form business profile err handling
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_components/ProductConfigurationForm.tsx
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/create-business-partner.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/product-configuration-form.hook.ts
Due: 1-formatting, 2-linting

feat(workspace): add workspace selection flow and context management
  locales/en.json
  locales/nl.json
  src/app/[locale]/auth/login/_hooks/login.hook.ts
  src/app/[locale]/auth/workspace-select/_components/workspace-selector.tsx
  src/app/[locale]/auth/workspace-select/page.tsx
  src/app/[locale]/dashboard/layout.tsx
  src/app/[locale]/layout.tsx
  src/components/providers/SWRProviderWrapper.tsx
  src/components/providers/SessionProviderWrapper.tsx
  src/components/session/SessionChecker.tsx
  src/constants/page.ts
  src/contexts/WorkspaceContext.tsx
  src/hooks/use-workspace.hook.ts
  src/lib/auth.ts
  src/middleware.ts
  src/services/api/api-core.ts
  src/services/swr/models/workspace.type.ts
  src/services/swr/use-workspaces.ts
  src/utils/workspace-redirect.ts
Due: 1-formatting, 2-linting

refactor(workspace): streamline workspace selection and improve layout structure
  src/app/[locale]/auth/workspace-select/_components/workspace-selector.tsx
  src/app/[locale]/auth/workspace-select/_hooks/workspace-selector.hook.ts
  src/app/[locale]/auth/workspace-select/page.tsx
  src/app/[locale]/dashboard/layout.tsx
  src/app/[locale]/layout.tsx
  src/components/providers/SWRProviderWrapper.tsx
  src/components/providers/SessionProviderWrapper.tsx
  src/components/session/SessionChecker.tsx
  src/services/api/workspace-api.ts
  src/services/swr/use-workspaces.ts
Due: 1-formatting, 2-linting

feat(profile-completion): API Integration profile completion steps
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/create-business-partner.hook.ts
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_schemas/business-partner.schema.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/steps/ContactDetailsStep.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/steps/GeneralInfoStep.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_components/steps/LogoUploadStep.tsx
  src/app/[locale]/dashboard/onboarding/profile-completion/_hooks/profile-completion.hook.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/_schemas/profile-completion.schema.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/_types/profile-completion.type.ts
  src/services/api/business-partner-api.ts
Due: 1-formatting, 2-linting

feat(create-business-partner, profile-completion): integrate routing and improve form handling
  src/app/[locale]/dashboard/onboarding/manage-business-partner/create-new-business-partner/_hooks/create-business-partner.hook.ts
  src/app/[locale]/dashboard/onboarding/profile-completion/_hooks/profile-completion.hook.ts
Due: 1-formatting, 2-linting

fix(sign-out): update signOut to include callbackUrl for consistent redirection after logout
  src/app/[locale]/dashboard/account-profile-settings/_hooks/account-profile-settings.hook.ts
  src/components/header/partials/HeaderUserMenu.tsx
Due: 1-formatting, 2-linting

feat(controlled-select): add fetchDetailData prop to enhance data fetching logic
  src/components/forms/controlled-select/ControlledSelect.tsx
  src/components/forms/controlled-select/controlled-select.hook.ts
Due: 1-formatting, 2-linting

feat(workspace-selector): enhance single workspace selection flow and redirect to dashboard
  src/app/[locale]/auth/workspace-select/_hooks/workspace-selector.hook.ts
Due: 1-formatting, 2-linting

feat(workspace-context): simplify workspace management and enhance logout handling
  src/app/[locale]/auth/workspace-select/_hooks/workspace-selector.hook.ts
  src/components/header/partials/HeaderUserMenu.tsx
  src/components/session/SessionChecker.tsx
  src/contexts/WorkspaceContext.tsx
Due: 1-formatting, 2-linting

feat(workspace): implement NGBLU workspace and business partner management features
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/onboarding/manage-business-partner/page.tsx
  src/app/[locale]/dashboard/onboarding/page.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerActivities.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerDetails.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerInfoView.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerQuotes.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerSites.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_types/business-partner.types.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/business-partner-overview/page.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/BusinessPartnerSteps.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/BusinessProfileForm.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/BusinessSettingsForm.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/CompanyNameSelector.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/CreateBusinessPartnerForm.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/ProductConfigurationForm.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_components/ReviewForm.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_hooks/business-partner-steps.hook.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_hooks/business-profile-form.hook.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_hooks/business-settings-form.hook.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_hooks/create-business-partner.hook.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_hooks/product-configuration-form.hook.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_hooks/review-form.hook.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/_schemas/business-partner.schema.ts
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/create-new-business-partner/page.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/page.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/page.tsx
  src/components/sidebar/sidebar-menu/SidebarMenuItemWithSub.tsx
  src/components/sidebar/sidebar-menu/SidebarMenuMain.tsx
Due: 1-formatting, 2-linting

fix(config): update webpack cache settings and adjust package dependencies
  next.config.mjs
  package-lock.json
  package.json
  src/instrumentation-client.ts
  src/instrumentation.ts
Due: 1-formatting, 2-linting

feat(workspace): update activity labels and refactor components for NGBLU workspace
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerActivities.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerDetails.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerQuotes.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/_components/BusinessPartnerSites.tsx
  src/app/[locale]/dashboard/workspace/ngblu-workspace/manage-business-partner/business-partner-overview/page.tsx
  src/components/workspace/entity-list/EntityList.tsx
  src/components/workspace/helpers/workspace.helpers.ts
  src/components/workspace/index.ts
  src/components/workspace/quotes-list/QuotesList.tsx
  src/components/workspace/types/workspace.types.ts
  src/components/workspace/workspace-activities/WorkspaceActivities.tsx
  src/components/workspace/workspace-info-view/WorkspaceInfoView.tsx
  src/components/workspace/workspace-layout/WorkspaceLayout.tsx
Due: 1-formatting, 2-linting

fix(socket-proxy): add validation for socket server configuration and update rewrites logic
  next.config.mjs
  src/app/api/health/route.ts
  src/app/api/socket-proxy/route.ts
Due: 1-formatting, 2-linting

chore(config): update .npmrc settings, add vercel.json, and adjust package.json overrides
  .npmrc
  package.json
  vercel.json
Due: 1-formatting

chore(config): disable optional dependencies in .npmrc, remove package-lock.json, and update install/build commands in vercel.json
  .npmrc
  package-lock.json
  package.json
  vercel.json
Due: 1-formatting

chore(config): enhance path mapping in next.config.mjs, set baseUrl in tsconfig.json, and add build environment in vercel.json
  next.config.mjs
  tsconfig.json
  vercel.json
Due: 1-formatting

chore: update require
  next.config.mjs
Due: none

chore(config): allow optional dependencies in .npmrc and simplify vercel.json build commands
  .npmrc
  vercel.json
Due: 1-formatting

Path conditions:
  1-formatting: any of: *.{js,ts,tsx,css,scss,md,json}
  2-linting: any of: *.{js,ts,tsx}
