Repository Itsavirus-com/NGBlu: changes, and which lefthook commands are due for each by the changed paths.
All: 1-formatting, 2-linting

1-formatting:
  run: yarn prettier --write {staged_files} && git add {staged_files}

2-linting:
  run: yarn eslint --fix {staged_files} && git add {staged_files}

feat: update form payment detail end client
  src/app/[locale]/dashboard/(data-management)/end-clients/[id]/_components/EndClientPaymentDetailForm.tsx
  src/app/[locale]/dashboard/(data-management)/end-clients/[id]/_hooks/end-client-payment-detail-form.hook.ts
  src/app/[locale]/dashboard/(data-management)/end-clients/[id]/payment-details/[paymentDetailId]/edit/page.tsx
  src/app/[locale]/dashboard/(data-management)/end-clients/[id]/payment-details/new/page.tsx
  src/components/forms/select/index.tsx
  src/components/forms/select/select.hook.ts
  src/services/swr/use-option-data.ts
Due: 1-formatting, 2-linting

fix: height sign-in page and add error style dropdown
  src/app/[locale]/auth/layout.tsx
  src/components/drawer/index.tsx
  src/components/forms/select/select.scss
Due: 1-formatting, 2-linting

fix: business partner contact
  src/app/[locale]/dashboard/(data-management)/business-partners/[id]/_components/BusinessPartnerContactForm.tsx
Due: 1-formatting, 2-linting

feat: update UI Admin User
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/(data-management)/users/_components/UserForm.tsx
  src/app/[locale]/dashboard/(data-management)/users/_hooks/user-form.hook.ts
  src/app/[locale]/dashboard/(data-management)/users/_schemas/user-form.schema.ts
  src/app/[locale]/dashboard/(data-management)/users/new/page.tsx
  src/components/forms/select/index.tsx
  src/components/forms/select/select.hook.ts
  src/constants/regex.ts
  src/services/swr/models/user.type.ts
  src/services/swr/use-option-data.ts
Due: 1-formatting, 2-linting

feat: update UI Admin User
  src/app/[locale]/dashboard/(data-management)/users/_components/UserForm.tsx
  src/app/[locale]/dashboard/(data-management)/users/_hooks/user-form.hook.ts
Due: 1-formatting, 2-linting

feat: update UI Admin User
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/(data-management)/users/_components/UserForm.tsx
Due: 1-formatting, 2-linting

feat: update UI Admin User
  locales/en.json
  locales/nl.json
Due: 1-formatting

chore(release): 1.0.0-rc.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1-formatting

chore: integrate change log standard version
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1-formatting

chore: integrate change log standard version
  commitizen-docs.md
  standard-version-docs.md
Due: 1-formatting

chore: integrate change log standard version
  azure-pipelines.yml
Due: none

Integrate change log standard version
  azure-pipelines.yml
Due: none

chore(release): 1.0.0-rc.1
  CHANGELOG.md
  package.json
Due: 1-formatting

chore: version tag
  package.json
Due: 1-formatting

chore(release): 2.0.1-rc.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1-formatting

chore(release): 2.0.1-rc.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1-formatting

chore(release): 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: 1-formatting

Merge branch 'release/development' of bitbucket.org:infraorders2/io2-frontend into feat/UI-Admin-User
  CHANGELOG.md
  package.json
Due: 1-formatting

chore: version tag
  package-lock.json
Due: 1-formatting

fix: Add organization unit selection to person contact form
  locales/en.json
  locales/nl.json
  src/app/[locale]/dashboard/(data-management)/person/persons/[id]/_components/PersonContactForm.tsx
  src/app/[locale]/dashboard/(data-management)/person/persons/[id]/_hooks/contact-form.hook.ts
  src/app/[locale]/dashboard/(data-management)/person/persons/[id]/_schemas/contact-form.schema.ts
  src/app/[locale]/dashboard/(data-management)/person/persons/[id]/contacts/[contactId]/edit/page.tsx
  src/app/[locale]/dashboard/(data-management)/person/persons/[id]/contacts/new/page.tsx
Due: 1-formatting, 2-linting

feat: add UI Login manual
  locales/en.json
  locales/nl.json
  src/app/[locale]/auth/login/_hooks/login.hook.ts
  src/app/[locale]/auth/login/_schemas/login.schema.ts
  src/app/[locale]/auth/login/page.tsx
Due: 1-formatting, 2-linting

feat: add UI Login manual
  src/app/[locale]/auth/login/_hooks/login.hook.ts
Due: 1-formatting, 2-linting

feat: add UI Login manual
  src/app/[locale]/auth/login/page.tsx
Due: 1-formatting, 2-linting

feat: add UI Login manual
  locales/en.json
  locales/nl.json
  src/app/[locale]/auth/layout.tsx
Due: 1-formatting, 2-linting

feat(reset-password): uI Forgot Password
  locales/en.json
  locales/nl.json
  src/app/[locale]/auth/reset-password/_hooks/reset-password.hook.ts
  src/app/[locale]/auth/reset-password/page.tsx
  src/assets/images/general/email-sent-illustration.svg
  src/lib/auth.ts
  src/middleware.ts
Due: 1-formatting, 2-linting

feat(reset-password): add UI Forgot Password
  src/app/[locale]/auth/reset-password/page.tsx
Due: 1-formatting, 2-linting

chore: configure npm to reduce log noise
  .npmrc
Due: none

refactor(price-tax): update price unit to price type
  src/app/[locale]/dashboard/(data-management)/settings/price-taxes/_components/PriceTaxForm.tsx
  src/app/[locale]/dashboard/(data-management)/settings/price-taxes/_hooks/price-tax-form.hook.ts
  src/app/[locale]/dashboard/(data-management)/settings/price-taxes/_schemas/price-tax.schema.ts
  src/services/swr/models/price-tax.type.ts
Due: 1-formatting, 2-linting

refactor(price-configs): remove price unit
  src/app/[locale]/dashboard/(data-management)/price/configs/_components/PriceConfigForm.tsx
  src/app/[locale]/dashboard/(data-management)/price/configs/_hooks/price-config-form.hook.ts
  src/app/[locale]/dashboard/(data-management)/price/configs/_schemas/price-config-form.schema.ts
Due: 1-formatting, 2-linting

refactor(price-tax): update price unit to price type
  locales/en.json
Due: 1-formatting

refactor(auth): fix missing flow to integrate with BE API and improve error handling
  locales/en.json
  locales/nl.json
  src/app/[locale]/auth/login/_hooks/login.hook.ts
  src/lib/auth.ts
Due: 1-formatting, 2-linting

fix(auth): debugging API Base URL
  src/lib/auth.ts
  src/services/api/api-core.ts
Due: 1-formatting, 2-linting

chore: API Base URL
  src/lib/auth.ts
Due: 1-formatting, 2-linting

refactor(auth): add logging auth error
  src/lib/auth.ts
Due: 1-formatting, 2-linting

feat(account-profile): create new UI for update profile user
  src/app/[locale]/dashboard/account-profile-settings/_hooks/account-profile-settings.hook.ts
  src/app/[locale]/dashboard/account-profile-settings/_schemas/account-profile-settings.schema.ts
  src/app/[locale]/dashboard/account-profile-settings/page.tsx
  src/components/header/partials/header-user-menu.tsx
Due: 1-formatting, 2-linting

refactor(regex): refactor regex
  src/app/[locale]/dashboard/(data-management)/addresses/_hooks/address-form.hook.ts
  src/app/[locale]/dashboard/(data-management)/users/_schemas/user-form.schema.ts
Due: 1-formatting, 2-linting

Path conditions:
  1-formatting: any of: *.{js,ts,tsx,css,scss,md,json}
  2-linting: any of: *.{js,ts,tsx}
